.attendance-container {
    margin-left: 32%;
}

.members-container {
    margin-left: 32%;
}

.classes-container {
    margin-left: 32%;
}

.trainers-container {
    margin-left: 32%;
}

.card-container {
display: inline-block !important;
max-width: 40%;
margin-right: 10px;
}

h1 {
    text-align: center;
    padding: 15px;
}

.li-item {
    display: inline-block !important;
}