.attendance-container {
    margin-left: 32%;
}

.members-container {
    margin-left: 32%;
}

.classes-container {
    margin-left: 32%;
}

.trainers-container {
    margin-left: 32%;
}

.card-container {
max-width: 30%;
margin: 5px 10px 5px 20px;
}

h1 {
    text-align: center;
    padding: 15px;
}

.li-item {
    display: inline-block !important;
}